on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
    - name: Build with Gradle
      run: ./gradlew build
    - name: Publish to Maven Central
      env:
        GITHUB_ACTOR: ${{ secrets.USERNAME }}
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      run: ./gradlew publish